<div class="registro">
    <div class="content">
        <div class="text">
            Registro de Usuario
        </div>
        <form (ngSubmit)="registrar()">

            <div class="field">
                <input required="" type="text" class="input" [(ngModel)]="usuario" name="usuario">
                <span class="span">
                    <mat-icon>person</mat-icon>
                </span>
                <label class="label">Usuario</label>
            </div>

            <div class="field">
                <input required="" type="text" class="input" [(ngModel)]="nombre" name="nombre">
                <span class="span">
                    <mat-icon>perm_identity</mat-icon>
                </span>
                <label class="label">Nombre Completo</label>
            </div>

            <div class="field">
                <input required="" type="password" class="input" [(ngModel)]="clave" name="clave">
                <span class="span">
                    <mat-icon>fingerprint</mat-icon>
                </span>
                <label class="label">Contraseña</label>
            </div>
            
            <button class="button">Acceder</button>
            <div class="inicio-sesion">
                ¿Ya tienes cuenta?
                <a routerLink="/autenticacion/acceso">Iniciar Sesion</a>
            </div>
        </form>

        <p *ngIf="mensaje">{{ mensaje }}</p>
    </div>
</div>