
<div class="perfil">
    <div class="tarjeta">   
        <div class="tarjeta__cuerpo">
            <div class="tarjeta__cabeza">
                <strong>{{Usuario?.nombre}}</strong>
            </div>

            <p class="tarjeta__rol">
                <strong>Rol: </strong> 
                <span class="rol">{{Usuario?.rol?.nombre}}</span>
            </p>

            <div class="tarjeta__permisos">
                <p><strong>Permisos:</strong></p>
                <ul class="permisos">
                    <li *ngFor="let permiso of Usuario?.rol?.permisos">
                        <mat-icon>done_all</mat-icon>
                        {{ permiso.nombre }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="card__ribbon">
            <label class="card__ribbon-label">
                <mat-icon> person_pin</mat-icon>
            </label>
            <button class="btn-logout-icon" (click)="cerrarSesion()" matTooltip="Cerrar sesión"  matTooltip="Cerrar sesión" matTooltipPosition="below" matTooltipHideDelay="100"> 
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</div>

