<div class="perfil">
    <div class="tarjeta">
    <div class="tarjeta__cuerpo">
        <div class="tarjeta__cabeza">
            <strong>Nombre Usuario</strong>
        </div>

        <p class="tarjeta__rol">
            <strong>Rol: </strong> 
            <span class="rol">Administrador</span>
        </p>

        <div class="tarjeta__permisos">
            <p><strong>Permisos:</strong></p>
            <ul class="permisos">
                <li><mat-icon>done_all</mat-icon>actualizar_equipo</li>
                <li><mat-icon>done_all</mat-icon>asignar_equipo</li>
                <li><mat-icon>done_all</mat-icon>crear_equipo</li>
                <li><mat-icon>done_all</mat-icon>eliminar_equipo</li>
                <li><mat-icon>done_all</mat-icon>ver_equipo</li>
                <li><mat-icon>done_all</mat-icon>ver_historial</li>
            </ul>
        </div>

    </div>

    <div class="card__ribbon">
        <label class="card__ribbon-label">
            <mat-icon> person_pin</mat-icon>
        </label>
    </div>
    </div>
</div>
